* {
  font-family: "Poppins", sans-serif;
}

.container-image {
  background: url(./../images/bg-image.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

@media only screen and (max-width:575.98px){
  #city{
    font-size: 1.2rem;
  }
  #feel-temperature{
    font-size: 1.1rem;
  }
  #clouds{
    font-size: 1.2rem;
  }
}